/* ---------- Conteúdo CSS PRINCIPAL DA PÁGINA ---------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
html {
    overflow-x: hidden;
}


/* ---------- Conteúdo CSS do HEADER ---------- */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #00000051;
    height: 3rem;
}
.navigation ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.navigation li a {
    font-size: 25px;
    transition: 0.1s;
}
#logo {
    font-size: 1.7rem;
    font-weight: 600;
}


/* ---------- Conteúdo CSS do MAIN ---------- */
.upper-button {
    position: fixed;
    top: 95%; right: 0%;
    transform: translate(-50%, -50%);

    z-index: 0;
    border: 0px;
    font-size: 14pt;

    border-radius: 25%;
    height: 50px;
    width: 50px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0; left: 0;
    height: 100vh; 
    width: 100vw;
}


/* ---------- Conteúdo CSS da FIRST-SECTION ---------- */
.first-section {
    justify-content: left;
    padding: 0 10%;
}
.first-section {
    background-image: url(https://images.pexels.com/photos/8874380/pexels-photo-8874380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: 80%;
}
.first-section button {
    box-shadow: 3px 3px 10px #00000070;
    padding: 15px 45px;

    border: none;
    border-radius: 3px;
    margin-top: 2.5rem;
    cursor: pointer;
}
.first-section button a {
    font-size: 16pt;
    font-weight: 600;
}

.home-text {
    max-width: 70rem;
    margin-bottom: 5%;
    cursor: default;
}
.home-text h1 {
    font-size: 90pt;
    margin-bottom: 15px;

    background: linear-gradient(45deg, #f6fad1, #8e4e00, #ffe600, #e5ff00);
    background-size: 400% 100%;

    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: degrade 10s linear infinite alternate;
}
@keyframes degrade {
    0% { background-position-x: 0%; }
    100% { background-position-x: 400%; }
}
.home-text h2 {
    font-size: 20pt;
}
.home-text p {
    text-align: justify;
    max-width: 40rem;
}

/* ---------- Conteúdo da SECOND-SECTION ---------- */



/* ---------- Conteúdo da THIRD-SECTION ---------- */



/* ---------- Conteúdo da FOURTH-SECTION ---------- */
.fourth-section h1 {
    font-size: 20pt;
}
.fourth-section h2 {
    font-size: 25pt;
}
.fourth-section h2, h1 {
    text-align: center;
}
.fourth-section button {
    width: 70%; height: 10%;
    font-size: 18pt;
    font-weight: bold;

    border-radius: 8px;
    border: none;
    box-shadow: 0.5rem 0.5rem 8px #00000051;
    
    margin-top: 10px;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    cursor: pointer;
}

.premium, .standard, .basic {
    padding: 20px;
    border-radius: 5px;
    height: 60vh; width: 25vw;
}

.premium {
    position: relative;
    margin: 0 30px;
}
.premium li {
    font-size: 18pt;
    margin: 5px 10px;
}


/* ---------- Conteúdo CSS do FOOTER ---------- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-direction: row;
    height: 30vh;
    padding-top: 20px;
}
footer ul {
    flex-direction: column;
}

.social-network h4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.social-network li {
    display: inline;
}
.social-network i {
    padding: 10px;
    border-radius: 50%;

    margin-inline: 5px;
    font-size: 21pt;
}