/* ---------- Conteúdo CSS PRINCIPAL DA PÁGINA ---------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
html {
    overflow-x: hidden;
}


/* ---------- Conteúdo CSS do HEADER ---------- */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #00000051;
}
.navigation ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.navigation li a {
    font-size: 25px;
    transition: 0.1s;
}
#logo {
    font-size: 1.7rem;
    font-weight: 600;
}


/* ---------- Conteúdo CSS do MAIN ---------- */
.first-section {
/*     background-image: url(https://images.pexels.com/photos/2294363/pexels-photo-2294363.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
 */ background-image: url(https://images.pexels.com/photos/8874380/pexels-photo-8874380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right;
} */

.upper-button {
    position: fixed;
    top: 95%; right: 0%;
    transform: translate(-50%, -50%);

    z-index: 0;
    border: 0px;

    border-radius: 50%;
    height: 50px;
    width: 50px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0; left: 0;
    height: 100vh; 
    width: 100vw;
}


/* ---------- Conteúdo CSS da FIRST-SECTION ---------- */
.first-section {
    justify-content: left;
    padding: 0 10%;
}
.first-section button {
    box-shadow: 3px 3px 10px #00000070;
    padding: 15px 45px;

    border: none;
    border-radius: 3px;
    margin-top: 2.5rem;
    cursor: pointer;
}
.first-section button a {
    font-size: 16pt;
    font-weight: 600;
}

.home-text {
    max-width: 50rem;
}
.home-text h1 {
    font-size: 70pt;
    margin-bottom: 15px;

    background: linear-gradient(45deg, #ff0000, #044be5, #ff0000);
    background-size: 400% 100%;

    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: degrade 10s linear infinite alternate;
}
@keyframes degrade {
    0% { background-position-x: 0%; }
    100% { background-position-x: 400%; }
}
.home-text h2 {
    font-size: 25pt;
}
.home-text p {
    text-align: justify;
    max-width: 40rem;
}

/* ---------- Conteúdo da SECOND-SECTION ---------- */



/* ---------- Conteúdo da THIRD-SECTION ---------- */



/* ---------- Conteúdo da FOURTH-SECTION ---------- */
.fouth-section {
    flex-direction: row;
}

.premium, .standard, .basic {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
    height: 60vh; width: 25vw;
}

.fourth-section .premium {
    margin: 30px;
}

.second-section {
    flex-direction: column;
}

.second-section h1 {
    margin-bottom: 10%;
    font-size: 30pt;
}

.second-section li {
    display: inline;
    margin: 0 25px;
    font-size: 20pt;
}

.second-section i::after{
    content: " ";
    background-color: black;
    margin: 0 5px;

    width: 0px;
}

/* ---------- Conteúdo CSS do FOOTER ---------- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-direction: row;
    height: 30vh;
    padding-top: 20px;
}
footer ul {
    flex-direction: column;
}

.social-network h4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.social-network li {
    display: inline;
}
.social-network i {
    padding: 10px;
    border-radius: 50%;
    margin-inline: 5px;
}