/* Cores da página */

/* ⬇️⬇️⬇️ Temporário!!!! */
section#first-page {
    background-color: cornflowerblue;
}
section#second-page {
    background-color: #dc143c;
}
section#third-page {
    background-color: #212121;
}