/* ---------- ⬇️⬇️⬇️ Temporário!!!! ---------- */
#fourth-section {
    background-color: #ffd500;
}
#second-section {
    background-color: #ea1756;
}

/* ---------- MAIN ---------- */
main {
    background-color: #1a161b;
}

/* ---------- NAVBAR ---------- */
#navigation, #place-icon {
    color: #fefefe;
}
#navigation a:hover {
    transition: .3s ease;
    color: white;
}
#navigation li > a {
    color: #acacac;
}
#place-icon {
    background-color: tomato;
}

/* ---------- FIRST SECTION ---------- */
#first-section a {
    background-color: #ffffff;
}
#first-section a:hover {
    box-shadow: 0 0 5px #ffc000,
                0 0 20px #ffc000,
                0 0 60px #ffc000,
                0 0 150px #ffc000;
}
#home-text {
    color: #dbe3e3;
}
#home-text h2 {
    color: #f3d85e;
}

/* ---------- THIRD SECTION ---------- */
#service {
    background-color: #fefefe;
    box-shadow: 15px 0 0 #ff6c47;
}
#service-info h1 {
    color: #f0ffff;
    background: linear-gradient(90deg, #e1563d ,#f4b033);
}
#icons-service i {
    color: #ec7737;
}
#choicer-service label {
    background-color: #ffb52b;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: #000000;
    color: #ddd;
}
footer li a {
    color: #727272;
}
footer li a:hover {
    color: #e2e0e0;
}
#social-media .footer-link {
    color: #f5f5f5;
}
#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook {
    background-color: #4267b3;
}
#whatsapp {
    background-color: #20b757;
}
#footer-content {
    background: linear-gradient(45deg, #1e003c, #2d0b00, #1d0000);
}
