/* ---------- Conteúdo CSS PRINCIPAL DA PÁGINA ---------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
a { text-decoration: none; }

/* ---------- Conteúdo CSS do HEADER ---------- */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #00000051;
    height: 2rem;
}
#navigation ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}
#navigation li a {
    font-size: 1.5rem;
    transition: 0.1s;
}
#logo {
    font-size: 1.7rem;
    font-weight: 600;
}

/* ---------- Conteúdo CSS do MAIN ---------- */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh; width: 100%;

    background-image: url(../../img/backgrounds/HomemNegroMusculoso.jpeg);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right;
}
section img {
    height: 100%;
}
section button {
    padding: 15px 45px;
    border: none;
    border-radius: 3px;

    margin-top: 1.5em;
    cursor: pointer;
    font-size: 1.3rem;

    font-weight: 600;
}
#home-text {
    max-width: 70em;
    margin-left: 7%;
    cursor: default;
}
#home-text h1 {
    position: relative;
    font-size: 7rem;
    margin-bottom: 15px;

    background: linear-gradient(45deg, #f6fad1, #8e4e00, #ffe600, #e5ff00);
    background-size: 400% 100%;

    background-clip: text;
    color: transparent;

    animation: degrade 10s linear infinite alternate;
}
@keyframes degrade {
    0% { background-position-x: 0%; }
    100% { background-position-x: 400%; }
}
#home-text h2 {
    font-size: 1.5rem;
}
#home-text p {
    text-align: justify;
    max-width: 40rem;
}

/* ---------- Conteúdo CSS do FOOTER ---------- */
footer {
    width: 100%;
}
#footer-content {
    display: flex;
    justify-content: space-around;
    padding: 3rem 3.5rem;
}
#social-media {
    display: flex;
    column-gap: 1.2rem;
    margin-top: 0.6rem;
}
#social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    height: 2.5rem; width: 2.5rem;
}
#social-media .footer-link i {
    font-size: 1.4rem;
}
#footer-copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;

    padding: 1.5rem;
    font-weight: 100;
}