/* ---------- MAIN ---------- */
section,
main {
  background-color: #1a161b;
}

/* ---------- NAVBAR ---------- */
#navigation {
  background-color: #1a161b;
}
#navigation,
#place-icon {
  color: #fefefe;
  border-bottom: 0.5px solid #eeeeee51;
}
#navigation li a {
  color: #ddd;
}
#navigation a:hover {
  transition: 0.2s ease;
  color: #fff;
}
#place-icon {
  background-color: #ff6347;
}

/* ---------- FIRST SECTION ---------- */
#first-section {
  background-color: transparent;
}
#first-section a {
  background-color: #ffffff;
}
#first-section a:hover {
  box-shadow: 0 0 5px #ffc000, 0 0 20px #ffc000, 0 0 60px #ffc000,
    0 0 150px #ffc000;
}
#home-text,
.video-infos,
.video-interactions li {
  color: #fefefe;
}
#home-text h2 {
  color: #fcfcfc;
}
.reels {
  border: 2px solid #fff;
  box-shadow: 7px 7px 0 #ff6347;
}
.video-interactions li .fa-heart {
  color: #ff0000;
}

/* ---------- SECOND SECTION ---------- */
#google_avaliations {
  color: #fff;
}
#google_avaliations p {
  color: #eee;
}
#logo_google {
  color: #333;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 0 #ff6347;
}
#logo_google span:nth-child(1),
#logo_google span:nth-child(4) {
  color: #3e7bed;
}
#logo_google span:nth-child(2),
#logo_google span:nth-child(6) {
  color: #f42929;
}
#logo_google span:nth-child(3) {
  color: #f3ab26;
}
#logo_google span:nth-child(5) {
  color: #27b427;
}
.stars {
  color: #f3ab26;
}
.review {
  background-color: #fcfcfc;
  box-shadow: 5px 5px 0 #ff6347;
}

/* ---------- THIRD SECTION ---------- */
#slider {
  border: 3px solid #fff;
  box-shadow: 7px 7px 0 #ff6347;
}
#icons-service i {
  color: #ec7737;
}
#choicer-service label {
  background-color: #ffb52b;
}
#service-title::before {
  content: "";
  position: absolute;
  top: -5%;
  right: -2%;
  display: block;
  height: 10px;
  width: 5px;
  background-color: #1a161b;
}
#service-title {
  color: black;
  background-color: #fefefe;
  outline: 3px solid #fff;
  border-right: 5px solid #1a161b;
  border-bottom: 5px solid #1a161b;
}
#service-title::after {
  content: "";
  position: absolute;
  left: -1%;
  bottom: -5%;
  display: block;
  height: 4.6px;
  width: 10px;
  background-color: #1a161b;
}

/* ---------- DIALOG ---------- */
#html {
  color: tomato;
}
#css {
  color: blue;
}
#js {
  color: orange;
}
#github {
  color: darkblue;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #000000;
  color: #ddd;
}
footer li a {
  color: #727272;
}
footer li a:hover {
  color: #e2e0e0;
}
#social-media .footer-link {
  color: #f5f5f5;
}
#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook {
  background-color: #4267b3;
}
#whatsapp {
  background-color: #20b757;
}
#footer-content {
  background: linear-gradient(45deg, #1e003c, #2d0b00, #1d0000);
}
