/* ---------- Conteúdo CSS PRINCIPAL DA PÁGINA ---------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
a { text-decoration: none; }

/* ---------- Conteúdo CSS do HEADER ---------- */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #00000051;
    height: 2rem;
}
#navigation ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}
#navigation li a {
    font-size: 1.5rem;
    transition: 0.1s;
}
#logo {
    font-size: 1.7rem;
    font-weight: 600;
}

/* ---------- Conteúdo CSS - Escolha de preços ---------- */
#plan-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    margin: auto;
}
#basic-plan, #standard-plan, #premium-plan {
    width: 20rem; height: 30rem;
    background-color: grey;
    transition: .2s ease-in;
    padding: 10px;
    border-radius: 5px;
}
#basic-plan:hover, #standard-plan:hover, #premium-plan:hover {
    transform: scale(1.02);
}
#plan-choice ul {
    margin: 10px 15px;
    font-size: 1.25rem;
}
#plan-choice ul > li{
    margin: 5px 0;
}
#plan-choice h1 {
    text-align: center;
    font-size: 2.5rem;
}
#plan-choice h2 {
    text-align: center;
    font-size: 2.75rem;
}
#plan-choice h6 {
    text-align: center;
    font-size: 1rem;
}
#plan-choice input[type="button"] {
    width: 10em; height: 3em;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}