/* ---------- Conteúdo CSS PRINCIPAL DA PÁGINA ---------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
a { text-decoration: none; }

/* ---------- Conteúdo CSS do HEADER ---------- */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #00000051;
    height: 2rem;
}
#navigation ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}
#navigation li a {
    font-size: 1.5rem;
    transition: 0.1s;
}
#logo {
    font-size: 1.7rem;
    font-weight: 600;
}

/* ---------- Conteúdo CSS da Section ---------- */
section {
    height: 92vh;
    width: 100%;
}

/* ---------- Conteúdo CSS - Escolha de preços ---------- */
#plan-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    margin: auto;
}
#plan-name {
    font-size: 1.8rem;
    text-align: center;
}
#plan-price {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
#offer-plan-price {
    font-size: 2.5rem;
    text-align: center;
}
#benefits {
    margin: 5% 0;
}
#benefits li {
    font-size: 1.3rem;
    margin: 15px 10px;
}
#premium, #standard, #basic {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    min-width: 25%;
    height: 54vh; width: 15em;
    background-color: grey;
    transition: .2s ease-out;
}
#premium:hover, #standard:hover, #basic:hover {
    transform: scale(1.05);
}
.selected-benefit i {
    color: gold;
    /* color: #2b2b2b; */
}
#plan-choice input {
    width: 70%; height: 10%;
    font-size: 18pt;
    font-weight: bold;
    
    border-radius: 8px;
    border: none;
    
    margin-top: 5px;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    cursor: pointer;
}